<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyzg.user.mapper.UserTableMapper">
    <select id="isEmailExists">
        SELECT COUNT(*)
        FROM userTable
        WHERE email = #{email};
    </select>
    <select id="isNickNameExists">
        SELECT COUNT(*)
        FROM userTable
        WHERE nickName = #{nickName};
    </select>
    <select id="getUserByEmail">
        SELECT id, nickName, email,createTime
        FROM userTable
        WHERE email = #{email};
    </select>
    <select id="getUserIdByEmail">
        SELECt id
        FROM userTable
        WHERE email = #{email};
    </select>
    <select id="isHaveEmailAndSecretWord">
        SELECT id,nickName,email,createTime
        FROM userTable
        WHERE email = #{email}
          AND secretWord = #{secretWord};
    </select>
    <select id="getSecretPubKey">
        SELECT secretWord
        FROM userTable
        WHERE email = #{email};
    </select>
    <insert id="insertUserIfNotExists" parameterType="com.nyzg.user.dbobj.User">
        INSERT IGNORE INTO `userTable` (id, nickName, email, secretWord)
        VALUES (#{id}, #{nickName}, #{email}, #{secretWord});
    </insert>
</mapper>