<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyzg.dock.mapper.RecordTableMapper">
    <insert id="insertRecordIntoTable">
        INSERT INTO `recordTable`
        VALUES (null,
                #{userId},
                #{recordId},
                #{type},
                #{exposeValue},
                #{detailValue},
                #{epochDay},
                #{epochWeek},
                #{epochMonth},
                #{epochYear});
    </insert>

    <insert id="insertRecordListIntoTable">
        INSERT INTO `recordTable` VALUES
        <foreach collection="recordList" separator="," item="record">
            (null,
            #{record.userId},
            #{record.recordId},
            #{record.type},
            #{record.exposeValue},
            #{record.detailValue},
            #{record.epochDay},
            #{record.epochWeek},
            #{record.epochMonth},
            #{record.epochYear})
        </foreach>
    </insert>

    <select id="selectRecordFromAndEnd">
        SELECT *
        FROM `recordTable`
        WHERE `userId` = #{userId}
          AND `epochDay` BETWEEN #{fromDay} AND #{endDay}
        ORDER BY `epochDay`;
    </select>
</mapper>